/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*= require twitter/bootstrap
*/

.top-nav {
	background-color: #333;
}

.footer {
	margin: 10px 0 0 30px;
	padding: 15px;
}

.footer .copyright {
	float:right;
}

div[data-lesson] {
	display:none;
}

.image {
	width: 320px;
	clear: right;
	float: right;
}

.image .bordered {
	border: 1px solid #CCC;
	padding: 3px !important;
	background-color: #F9F9F9;
	text-align: center;
	overflow: hidden;
}

.image img {
	border: 1px solid #CCC
}

.image .desc {
	font-size: 88%;
}